<div class="container-fluid">
    <div class="row" id="barra1">
        <div class="col-sm-2"></div>
        <div class="col-sm-5">
        </div>
        <div clas="col-sm-3">
        </div>
        <div class="col-sm-2">
        </div>
        <br>
        <div class="container-fluid">
        <div class="row">
            <div clas="col text-start">
            <img src="./assets/pumas2.png">
            <img src="./assets/figura1.png">
            <img src="./assets/logo.jpg" id="logo">
            </div>
        </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <div class="row" id="barra2">
        <div class="col-sm-3"></div>
        <div class="col-sm-3">
            <img src="./assets/game.jpg" id="game">
        </div>
        <br>
        <br>
        <br>
        <div class="col-sm-3">
                <u><H1 class = "titulo">Acompañanos!</H1></u>
                <br>
                <br>
                <br>
                <br>
            <div class="col-sm-10" id="shadow">
                <div class="shadow p-3 mb-5 bg-body-tertiary rounded"><h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</h3>
                </div>
            </div>
        </div>
        <div class="container-fluid">
        <br>
        <hr class="border border-dark border-1 opacity-10"></div>
    <div class="col-sm-12" id="barra3">
        <img src="./assets/titulo1.jpg">
          </div>
        </div>
        <br>
        <br>
        <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-md-2">
            <img src="./assets/Imagen1.jpg" id="imagen1">
        </div>
        <div class="col-sm-1"></div>
        <div class="col-md-3">
            <img src="./assets/Imagen2.jpg" id="imagen2">
        </div>
        <div class="col-sm-1"></div>
        <div class="col-md-2">
            <img src="./assets/imagen3.jpg" id="imagen3">
        </div>
        <div class="col-sm-2"></div>
        </div>
        <br>
        <br>
        <br>
    <div class="container-fluid">
        <br>
    <hr class="border border-dark border-1 opacity-10">
    <br>
    <br>
    </div>
    <div class="col-sm-12" id="barra3">
        <img src="./assets/titulo2.jpg">
        <br>
        <br>
        <br>
        <br>
    </div>
    <div class="row">
                <div class="col-md-1"></div>
            <div class="col-md-5" id="texto2">
                <h3><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p></h3>
            </div>
            <div class="col-md-1">
            <hr width="5" size="270" id="linea">
            </div>
            <div class="col-md-5">
            <img src="./assets/imagen4.jpg" id="imagen4">
            </div>
         </div>
    <div class="container-fluid">
        <br>
        <br>
        <br>
    <hr class="border border-dark border-1 opacity-10">
    <br>
    <br>
    </div>
    <div class="col-sm-12" id="barra3">
        <img src="./assets/titulo3.jpg">
    </div>
    <br>
    <br>
    <br>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-5">
            <div class="card" style="width: 30rem;" id="grey">
                <div class="card-body">
                  <h1 [style.color]="'white'">Martes</h1>
                  <p [style.color]="'white'">Parque reocreo deportivo El salitre (PRD)</p>
                  <p [style.color]="'white'">desde las 8:00pm hasta las 10:00pm</p>
                  <br>
                  <h1 [style.color]="'white'">Sabado</h1>
                  <p [style.color]="'white'">Parque reocreo deportivo El salitre (PRD)</p>
                  <p [style.color]="'white'">desde las 6:00pm hasta las 8:00pm</p>
                </div>
              </div>
        </div>
              <div class="col-md-1">
                <hr width="5" size="270" id="linea">
              </div>
              <div class="col-md-4" id="horario">
              <h3><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p></h3>
              </div>
              <br>
              <div class="container-fluid">
                <br>
                <br>
                <br>
            <hr class="border border-dark border-1 opacity-10">
            <div class="col-sm-12" id="barra3">
                <img src="./assets/titulo4.jpg">
                <br>
                <br>
                <br>
                </div>
                <div class="row" id="barra5">
                    <div class="col-sm-3"></div>
                <div class="col-sm-6" id="texto4">
                    <h5><p>Por favor dejenos sus preguntas y comentarios en este formulario y nosotros nos pondremos en contacto con usted.</p></h5>
                </div>
                </div>
                <br>
                <br>
                <div class="row">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-8">
                        <div class="card" id="formulario">
                            <br>
                            <div class="text-center">
                            <div class="card-title" id="contacto">
                                <h3>FORMULARIO DE CONTACTO</h3></div>
                            <div class="card-body">
                              <form>
                                <div class="form-group">
                                  <label for="nombre"></label>
                                  <input type="text" id="nombre" name="nombre" class="form-control" placeholder="Nombres Completos">
                                </div>
                                <div class="form-group">
                                  <label for="apellido"></label>
                                  <input type="text" id="apellido" name="apellido" class="form-control" placeholder="Email">
                                </div>
                                <div class="form-group">
                                  <label for="email"></label>
                                  <input type="email" id="email" name="email" class="form-control" placeholder="Teléfono">
                                </div>
                                <div class="form-group">
                                  <label for="mensaje"></label>
                                  <textarea id="mensaje" name="mensaje" class="form-control" placeholder="Inquitud"></textarea>
                                </div>
                                <br>
                                <div class="text-center">
                                  <button type="submit" class="btn">Enviar</button>
                                </div>
                              </form>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <br>
                <br>
                <br>
                <hr class="border border-dark border-1 opacity-10">
                <br>
                <div class="row" id="barra6">
                    <div class="col-md-2">
                    </div>
                    <div class="col-md-2">
                        <img src="./assets/logo1.png">
                    </div>
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-2">
                        <img src="./assets/logo2.png">
                    </div>
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-2">
                        <img src="./assets/logo3.jpg">
                    </div>
                    <div class="col-md-2">
                    </div>
                </div> 
            </div>   
        <br>
        <br>
        <br>
            <div class="container-fluid">
                <div class="row" id="barra7">
                <div class="col text-start">
                <img src="./assets/instagram.png" id="instagram">
                <img src="./assets/facebook.png"  id="facebook">
                <img src="./assets/twitter.png" id="twitter">
                </div>
                <div class="col text-end" id="pumas">
                    <h3 [style.color]="'white'">PUMAS D.C 2023 COPY</h3>
                </div>
                </div>
            </div>
        </div>  
    </div>               
